
body {
    background-image: url("/src/images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #061123;
    font-family: 'Space Grotesk', sans-serif;
    
}

.container {
    background: rgb(117, 143, 194, 0.1);
    border-radius: 50px;
    box-shadow: 2px 1px 1px #d2d1da;
    color: #d2d1da;
    margin: 100px auto;
    max-width: 450px;
    padding: 5px 20px 30px 20px;
    text-align: center;
    
}

select {

    display: block;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}

footer {
    background: rgb(117, 143, 194, 0.1);
    color: #d2d1da;
    margin: 50px 150px;
    padding: 10px;
    text-align: center;

}